//container

@mixin container {
  width: 280px;
  padding: 20px;
  margin: 0 auto;

  @media (min-width: 660px) {
    width: 620px;
  }

  @media (min-width: 960px) {
    width: 940px;
    padding: 0 10px;
  }
}

//font-properties

@mixin font-properties($font-weight, $font-size, $line-height, $color) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin list-style {
  padding: 0;
  margin: 0;
  list-style: none;
}
