$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-small: 14px;
$font-size-normal: 18px;
$font-size-big: 24px;

$line-height-small: 24px;
$line-height-normal: 28px;

$color-white: #fff;
$color-black: #000;
$color-red: #d22856;
$color-darkblue: #283645;

$tablet: 660px;
$desktop: 960px;
