//body

body {
  @include font-properties(400, 14px, 30px, #283645);

  font-family: "Open Sans", "Arial", sans-serif;
}

//main-nav

.main-nav {
  @include font-properties(700, 18px, 32px, #fff);
  text-transform: uppercase;
}

.main-nav__link {
  color: $color-white;
}

//page-intro

.page-intro__title {
  @include font-properties(300, 24px, 28px, #fff);
}

//download

.download {
  @include font-properties(300, 14px, 24px, #fff);
}

.download__itunes {
  color: $color-white;
}

//intro

.intro {
  @include font-properties(400, 14px, 30px, #283645);
}

.intro--font-big {
  @include font-properties(300, 24px, 28px, #283645);
}

//features

.features {
  line-height: $line-height-small;
  background-color: #f2f2f2;
}

.features__subtitle {
  @include font-properties(700, 18px, 24px, #000);
}

//sliders

.slider__author {
  @include font-properties(700, 18px, 30px, #000);
}

//price-plan

.price-plan__title {
  @include font-properties(700, 18px, 30px, #fff);
  text-transform: uppercase;
}

.price-plan__price {
  @include font-properties(300, 24px, 30px, #fff);
}

//user-photo

.user-photo__author {
  font-weight: $font-weight-bold;
  line-height: $line-height-small;
}

.user-photo__time {
  font-weight: $font-weight-light;
  font-size: 12px;
}

.user-photo__comment {
  line-height: $line-height-small;
}

.user-photo__like-counter {
  @include font-properties(400, 12px, 24px, #d22856);
}

//form

.form__subtitle {
  color: #d22856;
  text-transform: uppercase;
}

.form__subtitle-value {
  &::placeholder {
    @include font-properties(400, 18px, 30px, #283645);
    opacity: 1;
  }
}

.form__item-title {
  line-height: 18px;
  color: $color-red;
}

.form__item-descr {
  font-size: $font-size-normal;
}

.form__textarea {
  &::placeholder {
  @include font-properties(400, 18px, 30px, #283645);
  }
}

//popup

.form__popup-title {
  @include font-properties(700, 18px, 24px, #000);
}

.form__popup-text {
  line-height: $line-height-small;
}

//main-footer

.main-footer__title {
  @include font-properties(300, 24px, 28px, #283645);
}

.main-footer__subtitle {
  @include font-properties(700, 18px, 21px, #283645);
}

.main-footer__item {
  @include font-properties(300, 24px, 28px, #d22856);
}

.page-footer__copyright-text {
  line-height: 18px;
}
