.main-nav {
  /*display: none;*/
  background: $color-darkblue;
  @include container;
  outline: 1px solid yellow;
  min-height: 255px;

  @media (min-width: $desktop) {
    min-height: 110px;
  }
}

.main-nav__list {
  @include list-style;
}
