@import "sass/global/fonts.scss";

.form__subtitle {
  color: $form-subtitle-color;
  text-transform: uppercase;
}

.form__subtitle-value::placeholder {
  @include placeholder-font;
}

.form__item-title {
  line-height: $form-item-title-lh;
  color: $form-item-title-col;
}

.form__item-descr {
  font-size: $form-item-descr-fs;
}

.form__textarea::placeholder {
  @include placeholder-font;
}

.form__popup-title {
  @include popup-title-font;
}

.form__popup-text {
  line-height: $popup-text-lh;
}
