@import "sass/global/fonts.scss";

.main-nav {
  /*display: none;*/
}

.main-nav__list {
  @include main-nav-font;
  list-style: none;
}

.main-nav__link {
  color: $main-nav-color;
  text-decoration: none;
}
